<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/services.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>services</title>
</head>
<body>
    



    

                <div class="section-title">
               
                    <h2 >My Services</h2>
                    <p>The Services that i have offered to all of my client's around the world</p>
                </div>
     <section id="services" class="services">
            <div class="container">


                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-code"></i></div>
                            <h4 class="title"><a href="">Full-Stack Web Development</a></h4>
                            <p class="description">Creating end-to-end web solutions by handling both front-end and
                                back-end development.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-pen-nib"></i></div>
                            <h4 class="title"><a href="">Responsive Design</a></h4>
                            <p class="description"> Designing websites that adapt seamlessly to various screen sizes and
                                devices, ensuring a consistent user experience.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-brands fa-app-store-ios"></i></div>
                            <h4 class="title"><a href="">Custom Web Application Development</a></h4>
                            <p class="description">Building tailor-made web applications that address specific business
                                needs and challenges.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-store"></i></div>
                            <h4 class="title"><a href="">E-Commerce Solutions</a></h4>
                            <p class="description">Developing online stores with secure payment gateways, inventory
                                management, and user-friendly interfaces.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-list-check"></i></div>
                            <h4 class="title"><a href="">CMS Development</a></h4>
                            <p class="description">Creating content management systems to enable clients to manage and
                                update their website content easily.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-sharp fa-regular fa-gears"></i></div>
                            <h4 class="title"><a href="">Website Optimization</a></h4>
                            <p class="description"> Optimizing websites for speed, performance, and SEO to enhance user
                                engagement and search engine visibility.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-database"></i></div>
                            <h4 class="title"><a href="">Database Management</a></h4>
                            <p class="description"> Designing and managing databases for efficient data storage,
                                retrieval, and manipulation.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-code-compare"></i></div>
                            <h4 class="title"><a href="">Version Control</a></h4>
                            <p class="description">Utilizing version control systems like Git to manage and track
                                changes in codebase collaboratively.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End My Services Section -->



        {{!-- CSS CODING IS HERE  --}}



    
    
</body>
</html>